<suite name="SmokeTest">

	<listeners>
		<!-- <listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" /> -->
		<listener class-name="com.automation.listeners.MyListener" />
	</listeners>

	<test name="verifyLogin">
		<classes>
			<class name="com.automation.testScript.loginToApplication">
				<!-- <include>loginToApplication</include> -->
			</class>
		</classes>
	</test>
</suite>
